label{
    font-size: large;
}
.cred-input{
    width: 300px;
    margin-left: 15px;
    margin-bottom: 25px;
}
.login-btn{
    margin-left: 200px;
    margin-top: 10px;
    margin-bottom: 25px;
}
.to-register{
    font-size: medium;
    margin-left: 12em;
    margin-top: 10em;
}

.home-link{
    font-size: medium;
    margin-left: 13em;
}

.form_style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  
  .whole_content{
    margin-left: -200px;
    margin-top: -50px;
}